<div class="container">
     <div class="row background-wrap d-lg-none d-sm-block"></div>
     <div class="row navbar-row pt-3">
          <div class="col-3 p-0 text-center nav-item">
               <app-menu></app-menu>
          </div>
          <div class="col-6 p-0 text-center">
               <img class="icon d-none d-lg-inline" role="button" routerLinkActive="active" 
               [routerLink]="['home']" src="/assets/images/flapp-icon.png">
               <img class="icon w-20 d-lg-none" role="button" routerLinkActive="active" 
               [routerLink]="['home']"src="assets/images/flapp-flat-icon.png">
          </div>
          <div class="col-3 p-0 text-center nav-item">
               <button mat-icon-button color="accent" aria-label="User info icon">
                    <mat-icon class="primary-icon" matSuffix>account_circle</mat-icon>
               </button>
          </div>
     </div>
     <div class="row navbar-row pt-3 justify-content-center">
          <router-outlet></router-outlet>
     </div>
</div>
