.icon { height: 150px; margin-bottom: -30px;}

.mat-menu-item {
     height: 70px !important;
     padding-bottom: 0px !important; 
     display: flex;
}
::ng-deep.mat-menu-content { min-width: 180px !important;}
.mat-icon-button {
     height: 60px !important;
     background-color: none !important;
     width: 70px !important;
     :focus { outline: none !important;}
}
.mat-icon-no-color { color: #ff5757 !important;}
.mat-icon { font-size: 50px !important;}
.mat-icon-button.mat-accent { color: transparent !important;} // Hide background on focus
.nav-item { align-self: flex-end;}
.mat-badge-content { background-color: #ff5757;}

a:hover {
     transform: scale(1);
     text-decoration: none;
     -ms-transform: scale(1.1); /* IE 9 */
     -webkit-transform: scale(1.1); /* Safari 3-8 */
     transform: scale(1.1);
     transition: all 0.3s ease-in-out 0.1s;
}
.header-button {
     width: 100%;
     font-family: 'Montserrat', sans-serif;
     font-size: 18px;
     line-height: 1;
     color: #ff5757 !important;
}
.header-button:nth-child(3) {
     font-family: 'Pacifico', cursive;
     font-size: 22px;
}

.mat-button, button {
     span{ color: #ff5757 !important;}
}
/* RESPONSIVE */
@media screen and (max-width: 767px) {
     .home-image { height: 200px;}
     .navbar-row { padding-bottom: 1rem !important}
     .mat-icon-button {
          height: 55px !important;
          background-color: none !important;
          width: 50px !important;
          :focus { outline: none !important;}
     }
     .mat-icon { 
          font-size: 35px !important;
          line-height: 20px !important;
     }
     .background-wrap { min-height: 100px;}
     .icon { height: 60px; margin-bottom: -30px;}

     
}