<div class="container">
     <div class="row background-wrap d-lg-none d-sm-block"></div>
     <div class="row">
          <div class="col-3 p-0 text-center">
               <app-menu></app-menu>
          </div>
          <div class="col-6 p-0 text-center">
               <img class="icon w-20" src="/assets/images/flapp-flat-icon.png">
          </div>
          <div class="col-3 p-0 text-center">
               <button mat-icon-button color="accent" aria-label="User info icon">
                    <mat-icon class="primary-icon" matSuffix>account_circle</mat-icon>
               </button>
          </div>
     </div>
</div>
