<div #aboutSection class="container">
  <div class="row header d-flex justify-content-end m-3">
       <div class="col-lg-12 col-sm-12 d-flex justify-content-center align-items">
            <h2><b>FAQ de </b></h2>
            <h2 class="header-icon pl-2">Flapp</h2>
       </div>
       <div class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-center">
            <mat-icon role="button" class="accent-icon" aria-hidden="false" aria-label="Home"
            #tooltip="matTooltip" matTooltip="Página principal"
            matTooltipPosition="above" matTooltipHideDelay="100"
            routerLinkActive="active" [routerLink]="['home']">home</mat-icon>
            <mat-icon role="button" class="accent-icon ml-4" aria-hidden="false" aria-label="Login"
            #tooltip="matTooltip" matTooltip="Login"
            matTooltipPosition="above" matTooltipHideDelay="100"
            routerLinkActive="active" [routerLink]="['home']">person_outline</mat-icon>
       </div>

  </div>
  <div class="row body-info">
       <div id="accordion" class="col-lg-12 col-sm-12 pt-3 pr-5 pl-5">
        <div class="card">
          <div class="card-header btn-faq" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-faq" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                FAQ #1 ¿Por qué usar Flapp?
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Flapp te facilitara la vida en la organización de tareas de tu piso, prueba a crear a una lista de eventos con las tareas que tienes.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header btn-faq" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-faq collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                FAQ #2 ¿Como creó un evento?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              En el menu principal tienes la sección de crear evento, en la que podrás crear eventos de todo tipo dependiendo de tus tareas, ej. ("Limpiar la cocina", "Pagar la factura de la luz", "Sacar a pasear el perro").
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header btn-faq" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-faq collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                FAQ #3 ¿Como registro mi propio piso?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Pending to update
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
