
.container { width: 650px;}
:host i, h3 {color: #ff5757}
::ng-deep.mat-calendar{
          span { color: #ff5757 !important;}
     }
//RESPONSIVE 
@media screen and (max-width: 768px) {
     .container { width: 350px;}
}