<app-loading [loading]="loading"></app-loading>
<div class="container mb-5">
     <!-- CREATE EVENT HEADER-->
     <div class="row d-flex justify-content-between header ml-3 mr-0 mt-4">
          <h3 class="m-0 d-flex align-items-end">
               <b class="d-flex">CREAR EVENTO
                    <mat-icon aria-hidden="false" aria-label="EVENT" class="pl-2">event_available
                    </mat-icon>
               </b>
          </h3>
          <a href="javascript:void(0)" (click)="clearForm()">Limpiar campos</a>
     </div>

     <form [formGroup]="eventForm" class="mt-4">
          <!-- FLAT SELECTOR-->
          <div *ngIf="!isFlatSelected">
               <div class="row ml-3 mr-0 mt-3">
                    <label><i>Selecciona el piso donde se creará el evento</i></label>
                    <mat-form-field name="flat" class="w-100">
                         <mat-select placeholder="Selecciona piso" disableOptionCentering panelClass="myPanelClass"
                              formControlName="selectedFlat" (selectionChange)="selectFlat()">
                              <mat-option *ngFor="let flat of flatList" [value]="flat">
                                   {{flat.name}}
                              </mat-option>
                         </mat-select>
                    </mat-form-field>
               </div>
          </div>
          <!-- EVENT FORM (IF FLAT IS SELECTED)-->
          <div *ngIf="isFlatSelected" class="mb-5">
               <!-- NAME -->
               <label class="ml-3">Crear evento en: <b>{{eventForm.controls.selectedFlat.value.name}}</b></label>
               <div class="row ml-3 mr-0 mt-3">
                    <mat-form-field name="name" class="w-100">
                         <mat-label>Título del evento</mat-label>
                         <input type="text" matInput formControlName="eventName" placeholder="Nombre del evento *"
                              required>
                         <mat-error *ngIf="eventForm.controls.eventName.invalid">Requerido. Máximo 50 caracteres</mat-error>
                    </mat-form-field>
               </div>
               <!-- DESCRIPTION -->
               <div class="row ml-3 mr-0 mt-2">
                    <mat-form-field name="description" class="w-100">
                         <mat-label>Descripción del evento</mat-label>
                         <input type="text" matInput formControlName="description" placeholder="Descripción *" required>
                         <mat-error *ngIf="eventForm.controls.description.invalid">Requerido. Máximo 50 caracteres</mat-error>
                    </mat-form-field>
               </div>
               <!-- ROOM -->
               <div class="row ml-3 mr-0 mt-2">
                    <mat-label><i>Habitación a la que pertenece el evento</i></mat-label>
                    <mat-form-field name="flat" class="w-100">
                         <mat-select placeholder="Selecciona habitación" disableOptionCentering panelClass="myPanelClass"
                              formControlName="belongingRoom">
                              <mat-option *ngFor="let room of roomList" [value]="room">
                                   {{room.name}}
                              </mat-option>
                         </mat-select>
                    </mat-form-field>
               </div>
               <!-- EVENT TYPE -->
               <div class="row ml-3 mr-0 mt-2">
                    <mat-label><i>Selecciona el tipo o area del evento</i></mat-label>
                    <mat-form-field name="flat" class="w-100">
                         <mat-select placeholder="Tipo de evento" disableOptionCentering panelClass="myPanelClass"
                              formControlName="eventType">
                              <mat-option *ngFor="let type of eventTypes" [value]="type">
                                   <mat-icon aria-hidden="false" aria-label="type-icon" class="pl-2 pr-2">{{type.iconName}}
                                   </mat-icon>
                                   {{type.name}}
                              </mat-option>
                         </mat-select>
                    </mat-form-field>
               </div>
               <!-- ROOMMATES -->
               <div class="row ml-3 mr-0 mt-2">
                    <mat-label><i>Personas que forman parte del evento</i></mat-label>
                    <mat-form-field name="flat" class="w-100">
                         <mat-select placeholder="Selecciona compañeros" disableOptionCentering panelClass="myPanelClass"
                              formControlName="roommates" multiple>
                              <mat-option *ngFor="let roommate of roommatesList" [value]="roommate">
                                   @{{roommate.nickname}}
                              </mat-option>
                         </mat-select>
                    </mat-form-field>
               </div>
               <!-- AMOUNT -->
               <div class="row ml-3 mr-0 mt-2">
                    <mat-label><i>Selecciona la cantidad en € si corresponde</i></mat-label>
                    <mat-form-field class="example-margin" class="w-100">
                         <mat-label>Cantidad</mat-label>
                         <input matInput type="number" formControlName="amount">
                         <span matSuffix>&nbsp;€</span>
                    </mat-form-field>
                    <!-- <span>{{eventForm.controls.amount.value}}€</span> -->
                    
               </div>

          </div>
     </form>
</div>