<div class="container">
     <div class="row header-info text-center">
          <h2>Bienvenid@ a Flapp</h2>
          <h5>Y empieza a compartir...</h5>
     </div>
     <div class="row body-info">
          <div class="col-lg-6 col-sm-12">

          </div>
          <div class="col-lg-6 col-sm-12">
               <span>Flapp es una herramienta para compartir tareas y eventos con tus compañeros de piso.</span>
               <span>Organizar las tareas del hogar, llevar día las facturas o símplemente repartir los gastos resultará mucho más sencillo</span>
          </div>
          
     </div>
     <div class="row footer-info">

     </div>
</div>
