
.form {
  min-width: 250px;
  padding: 28px;
}
.register-icon {height: 20px;}
a { font-weight: bold;}
a:hover {
  transform: scale(1);
  //transition: all 0.3s ease-in-out 0.1s;
  color: #f3D250 !important;
  text-decoration: none;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: all 0.3s ease-in-out 0.1s;
}


@media screen and (max-width: 768px) {
  .icon {height: 170px; margin-bottom: -30px;}
}
@media screen and (min-width: 769px) {
  .icon {height: 200px; }
}