
footer {
     position: fixed;
     width: 100%; 
     bottom: 0;
     height: 65px;
     background-color: #ff5757;
     a {
          color: #ffffff;
     }
     h2 {
          font-family: 'Pacifico', cursive;
          color: #ffffff;
          margin: 0;
     }
     
 }

/* RESPONSIVE */
@media screen and (max-width: 768px) {
     a {
          font-size: 11px;
          text-align: center;
     }
}