h3 {color: #ff5757;}
.flat-list-img {height: 100px;;}
.mat-list-item {
     margin: 10px 0px;
     height: auto !important;
}
.mat-stroked-button {
     border: 2px solid #ff5757 !important;
     span{ color: #ff5757 !important;}
 }
.mat-list-item-content { 
     padding: 0px !important; // Outside ripple effect
} 
.card { 
     height: auto;
     width: 600px;
     border: 1px solid #ff5757 !important;
}
.header { width: 600px;}
.mat-subheader { display: inline !important;}
.mat-chip {
     background-color: #ffcece !important;
     :focus { background-color: none !important}
}

/* MATERIAL FORMS */
// custom class for modal
.customModal{
     .mat-input-element:hover {color: #52a2d5 !important;}
     .mat-focused .mat-form-field-label {
          /*change color of label*/
          color: #52a2d5 !important;
     }
     .mat-form-field-underline {
          /*change color of underline*/
          background-color: #52a2d5 !important;
     } 
     .mat-form-field-ripple {
          /*change color of underline when focused*/
          background-color: #52a2d5 !important;
     }
     .cdk-overlay-container {
          z-index: 9999 !important;
     }
     .autocomplete {z-index: 99999 !important;}
     //.modal-backdrop {z-index: 30 !important}
     .cdk-overlay-container {z-index: 999999 !important;}
}
.cdk-overlay-container {z-index: 999999 !important;}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
     .card { width: 350px !important;}
     .header { width: 350px !important;}
     ::ng-deep.mat-subheader { height: auto !important;}
}
