<div class="row d-flex justify-content-between header ml-3 mr-0 mt-4">
     <h5><b>FLAT LIST</b></h5>
     <mat-icon role="button" #tooltip="matTooltip" matTooltip="Reload list"
     matTooltipPosition="above" matTooltipHideDelay="500" class="yellow-icon" (click)="reload()"
     aria-hidden="false" aria-label="add">replay
     </mat-icon>
</div>
<!-- =========================================-->
<!-- FLATS LIST -->
<!-- =========================================-->
<mat-action-list *ngIf="dataSource.data != undefined">
     <mat-list-item *ngFor="let flat of dataSource.data">
          <div class="card">
               <div class="row pt-3 pl-2 pr-2 m-0">
                    <div class="col-9 pr-1 d-flex flex-column">
                         <span><b>{{flat.name}}</b></span>
                         <span>{{flat.address}}</span>
                         <div mat-subheader class="p-0 mt-3"><b>Users: </b>
                              <span class="ml-2" *ngFor="let user of flat.users">
                                   @{{user.nickname}}
                              </span>
                         </div>
                    </div>
                    <div class="col-3 pl-0 text-right">
                         <mat-icon role="button" #tooltip="matTooltip" matTooltip="Add more users to flat."
                              matTooltipPosition="above" matTooltipHideDelay="500" class="yellow-icon" 
                              (click)="openSearchModal(flat.id, flat.users)"
                              aria-hidden="false" aria-label="add">person_add
                         </mat-icon>
                    </div>
               </div>
          </div>
     </mat-list-item>
</mat-action-list>
<!-- =========================================-->
<!-- EMPTY LIST -->
<!-- =========================================-->
<div class="table-empty ml-2 mr-2 pt-4" *ngIf="dataSource.data == undefined || dataSource.data.length == 0">
     <div class="row text-center justify-content-center">
          <span class="font-weight-bold">No results to display</span>
     </div>
     <div class="row text-center justify-content-center">
          <span>Add a new flat on the top left menu</span>
     </div>
</div>
<app-loading [loading]='loading'></app-loading>
