<div class="example-container row mt-2 mr-2 ml-2 mb-5">
     <table #table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
          <!-- EVENT TYPE COLUMN -->
          <ng-container matColumnDef="type">
               <th mat-header-cell *matHeaderCellDef>Tipo</th>
               <td mat-cell *matCellDef="let element">
                    <mat-icon aria-hidden="false" [ngStyle]="{'color':getElementColor(element.eventType)}" aria-label="type">{{getElementIcon(element.eventType)}}</mat-icon>
               </td>
          </ng-container>
          <!-- NAME COLUMN -->
          <ng-container matColumnDef="name">
               <th mat-header-cell *matHeaderCellDef>Nombre</th>
               <td mat-cell *matCellDef="let element">
                    {{element.title}}
               </td>
          </ng-container>
          <!-- AMOUNT COLUMN -->
          <ng-container matColumnDef="amount">
               <th mat-header-cell *matHeaderCellDef>Cantidad €</th>
               <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.amount != undefined">{{element.amount}}€</span>
                    <span *ngIf="element.amount == undefined">-</span>
               </td>
          </ng-container>
          <!-- IS EVENT ACTIVE COLUMN -->
          <ng-container matColumnDef="active">
               <th mat-header-cell *matHeaderCellDef>Activo</th>
               <td mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="isElementActive(element) == true" class="completed md-18">event_available</mat-icon>
                    <mat-icon *ngIf="isElementActive(element) == false" class="not-completed md-18">event_busy</mat-icon>
               </td>
          </ng-container>
          <!-- DELET EVENT COLUMN -->
          <ng-container matColumnDef="delete">
               <th mat-header-cell *matHeaderCellDef>Borrar</th>
               <td mat-cell *matCellDef="let element">
                    <button mat-icon-button class="accent-button" (click)="delete(element)">
                         <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>
                    </button>
               </td>
          </ng-container>
          <!-- MARK AS COMPLETE COLUMN -->
          <ng-container matColumnDef="markAsComplete">
               <th mat-header-cell *matHeaderCellDef>Completar</th>
               <td mat-cell *matCellDef="let element">
                    <button mat-icon-button class="accent-button" (click)="delete(element)">
                         <mat-icon aria-hidden="false" aria-label="delete">done_outline</mat-icon>
                    </button>
               </td>
          </ng-container>
          <!-- SHOW DETAILS COLUMN -->
          <ng-container matColumnDef="details">
               <th mat-header-cell *matHeaderCellDef></th>
               <td mat-cell (click)="selection.toggle(element)" *matCellDef="let element">
                    <a href="javascript:void(0)" (click)="expandedElement = expandedElement === element ? null : element">
                         <i *ngIf="element != expandedElement" class="material-icons md-18 md-dark">keyboard_arrow_down</i>
                         <i *ngIf="element == expandedElement" class="material-icons md-18 md-dark">keyboard_arrow_up</i>
                    </a>
               </td>
          </ng-container>
          <!--DETAILED EVENT-->
          <ng-container matColumnDef="expandedDetail">
               <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
                    <div class="row example-element-detail ml-0" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                         <h4 class="detail"><b>DETALLES DEL EVENTO</b></h4>
                         <br>
                         <div class="row w-100">
                              <div class="col-4">
                                   <label class="detail">Descripción: </label>
                                   {{element.description}}
                              </div>
                              <div class="col-4">
                                   <label class="detail">Creador: </label>
                                   @{{element.creator}}
                              </div>
                              <div class="col-4">
                                   <label class="detail">Habitación: </label>
                                   {{element.rooms[0].name}}
                              </div>
                         </div>
                         <div class="row w-100">
                              <div class="col-4">
                                   <label class="detail">Fecha inicio: </label>
                                   {{element.startDate | date:'dd/MM/yyyy'}}
                              </div>
                              <div class="col-8">
                                   <label class="detail">Fecha fin: </label>
                                   {{element.endDate | date: 'dd/MM/yyyy'}}
                              </div>

                         </div>
                         <div class="row w-100">
                              <div class="col-12">
                                   <label class="detail">Participantes: </label>
                                   <span *ngFor="let user of element.users">@{{user.nickname}}</span>
                              </div>

                         </div>
                    </div>
               </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let element; columns: columns;" class="example-element-row"
               [class.example-expanded-row]="expandedElement === element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
     </table>
</div>
<!-- =========================================-->
<!-- EMPTY LIST -->
<!-- =========================================-->
<div class="table-empty pt-4 mb-5" *ngIf="dataSource.data == null">
     <div class="row text-center justify-content-center">
          <span class="font-weight-bold">TABLA VACÍA</span>
     </div>
     <div class="row text-center justify-content-center">
          <span>No tienes ningún evento</span>
     </div>
</div>