
body { 
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
    color: #424242;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

html, body { height: 100%; }
span { 
    font-family: 'Montserrat', sans-serif;
    color: #424242;
}

/* HEADINGS*/

h2 { font-family: 'Pacifico', cursive;}

/* MATERIAL BUTTONS */

a { width: auto;}
button {
    width: 100%;
    span { color: #ffffff}
}
*:focus { outline: none !important;}
.large-button { height: 75px;}
.mat-fab, .mat-mini-fab { box-shadow: none !important;}
.button-rounded { border-radius: 50px !important;}

.primary-button { background-color: #ff5757; }
.primary-button:focus { outline: 5px auto #f78888 !important; }
.accent-button { background-color: #52a2d5;}
.accent-button:focus { outline: 5px auto #a8d0e6 !important; }
.yellow-button {
    background-color: #f8f4e4 !important;
    span {
        color: #f3D250;
    }
}
.yellow-button:focus { outline: #f3e7b8; }

/* MATERIAL ICONS */

.mat-icon { width: auto !important;}
.primary-icon {
    color: #ff5757;
}
.accent-icon {
    color: #52a2d5;
}
.yellow-icon {
    color: #f3D250;
}

/* MATERIAL FORMS */

::ng-deep .mat-input-element:invalid {
    caret-color: red !important ;
    color: red !important;
}

.mat-form-field-label {
    color: #424242 !important;
}

.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #ff5757 !important;
}
  
.mat-form-field-underline {
    /*change color of underline*/
    background-color: #ff5757 !important;
} 
  
.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #ff5757 !important;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .background-wrap {
        background-image: linear-gradient(rgba(255,255,255,.78), 
        rgba(255,255,255,.78)), url("/assets/images/roommate.jpg") !important;
        background-repeat: no-repeat !important;
        background-size: 100% !important;
    }
}