<div>
     <button mat-icon-button color="accent" [matMenuTriggerFor]="menu" aria-label="Example icon button with a menu icon">
          <mat-icon class="primary-icon" matSuffix>menu</mat-icon>
     </button>

     <mat-menu class="w-100" #menu class="matMenu">
          <button mat-menu-item class="menu-item">
               <mat-icon class="primary-icon" matSuffix>account_circle</mat-icon>
               <span>Redial</span>
          </button>
          <button mat-menu-item class="menu-item">
               <mat-icon class="primary-icon" matSuffix>account_circle</mat-icon>
               <span>Check voice mail</span>
          </button>
          <button mat-menu-item class="menu-item">
               <mat-icon class="primary-icon" matSuffix>account_circle</mat-icon>
               <span>Disable alerts</span>
          </button>
     </mat-menu>

</div>