.mat-menu-item {
     height: 70px !important;
     padding-bottom: 0px !important; 
     display: flex;
     color: #ff5757 !important;

}
.mat-icon-no-color { color: #ff5757 !important;}
button {
     span { color: #ff5757;}
}
.mat-icon-button {
     height: 60px !important;
     background-color: none !important;
     width: 70px !important; // Otherwise outline focus it's irregular
     :focus { outline: none !important;}
}
.mat-icon { font-size: 45px !important;}
.mat-icon-button.mat-accent {color: white !important;}
/* DESKTOP */
@media screen and (min-width: 769px) {
     .menu-item { height: 70px !important;}
}