h2 { color: #52a2d5;}

.mat-stroked-button.cancel-btn {
    border: 2px solid #52a2d5 !important;
    span{ color: #52a2d5 !important;}
}
/* MATERIAL FORMS */

.mat-focused .mat-form-field-label {
     /*change color of label*/
     color: #52a2d5 !important;
}
   
.modal-form .mat-form-field-underline {
     /*change color of underline*/
     background-color: #52a2d5 !important;
} 
   
.modal-form .mat-form-field-ripple {
     /*change color of underline when focused*/
     background-color: #52a2d5 !important;
}

 @media screen and (max-width: 768px) {
    .mat-form-field {
        width: 100%;
        margin: 0px !important;
    }
}