<div class="container">
    <div class="row header justify-content-center">
        <img class="icon w-20" src="/assets/images/flapp-icon.png">
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-12 form justify-content-center text-center">
            <h2><b>Create a New Account</b></h2>
            <h4>Start sharing with your roommates. Let's set up your account.</h4>
            <span>Already registered? </span>
            <a [routerLink]="['../login']">Sign in here</a>
            <form [formGroup]="registerForm">
                <div class="register-form">
                    <!-- NAME & SURNAME ROW -->
                    <div class="row d-flex justify-content-between m-0">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput type="text" formControlName="name" placeholder="Insert your name" required>
                            <mat-icon class="yellow-icon" matSuffix>account_circle</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="ml-4">
                            <mat-label>Surname</mat-label>
                            <input matInput type="text" formControlName="surname" placeholder="Insert your surname"
                                required>
                            <mat-icon class="yellow-icon" matSuffix>account_circle</mat-icon>
                        </mat-form-field>
                    </div>
                    <!-- NICKAME & EMAIL ROW-->
                    <div class="row d-flex justify-content-between m-0">
                        <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input matInput type="text" formControlName="nickname" placeholder="Insert a user name"
                                required>
                            <mat-icon class="yellow-icon" matSuffix>account_circle</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="ml-4">
                            <mat-label>E-mail</mat-label>
                            <input type="email" matInput formControlName="email" placeholder="Insert your email"
                                required>
                            <mat-icon class="yellow-icon" matSuffix>mail</mat-icon>
                        </mat-form-field>
                    </div>
                    <!-- PASSWORD & PASSWORD CONFIRMATION ROW-->
                    <div class="row d-flex justify-content-between  m-0">
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password" placeholder="Insert your password"
                                required>
                            <mat-icon matSuffix class="yellow-icon">lock</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="ml-4">
                            <mat-label>Repeat password</mat-label>
                            <input matInput type="password" formControlName="validatePassword" placeholder="Insert your password" required>
                            <mat-icon matSuffix class="yellow-icon">lock</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="row ml-0 mr-0 mt-3 mb-3 justify-content-center">
                            <button mat-button mat-flat-button class="yellow-button" (click)="register()">REGISTER</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>