.register-form {
     border: 2px solid #F3D250;
     border-radius: 15px;
     margin: 5%;
     padding: 5%
}
a { font-weight: bold;}
a:hover {
  transform: scale(1);
  text-decoration: none;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: all 0.3s ease-in-out 0.1s;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
     .icon {height: 170px; margin-bottom: -30px;}
     .mat-form-field {
          width: 100%;
          margin: 0px !important;
     }
     
}
/* DESKTOP */
@media screen and (min-width: 769px) {
     .mat-form-field { min-width: 45%;}
     .icon { height: 200px;}
     .register-form { 
          margin: 5%;
          padding: 5%
     }
}
/* MATERIAL FORMS */

:host ::ng-deep .mat-focused .mat-form-field-label {
     /*change color of label*/
     color: #F3D250 !important;
 }
   
 :host ::ng-deep .mat-form-field-underline {
     /*change color of underline*/
     background-color: #F3D250 !important;
 } 
   
 :host ::ng-deep .mat-form-field-ripple {
     /*change color of underline when focused*/
     background-color: #F3D250 !important;
 }