h3 { color:#ff5757;}
h2 { color:#f3d250;}
.form {
     min-width: 250px;
     padding: 28px;
   }
a { font-weight: bold;}
a:hover {
  transform: scale(1);
  text-decoration: none;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: all 0.3s ease-in-out 0.1s;
}

.border-right { border-color: #ff5757 !important}
.border-bottom { border-color: #f3D250 !important}


/* MATERIAL FORMS */

::ng-deep .mat-input-element:invalid {
     caret-color: red !important ;
     color: red !important;
 }
 
/* RESPONSIVE */
@media screen and (max-width: 768px) {
     .icon {height: 170px; margin-bottom: -30px;}
     .mat-form-field {
          width: 100%;
          margin: 0px !important;
     }
     #roommates-img {
          height: 100px;
          margin-top: 20px;
     }
     
}

/* DESKTOP */
@media screen and (min-width: 769px) {
     .mat-form-field { min-width: 45%;}
     .icon { height: 200px;}
     .register-form { 
          margin: 5%;
          padding: 5%
     }
     #roommates-img {
          height: 150px;
          margin-top: 20px;
          margin-bottom: 20px;
     }
}

